NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://fat:fat_password@localhost:5432/futbol_al_toque?schema=public"
JWT_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"
JWT_EXPIRES_IN="1d"

# Seed del admin inicial (opcional)
ADMIN_EMAIL="admin@futbolaltoque.com"
ADMIN_PASSWORD="admin1234"
